<tr>
  <td> <%= study.title %> </td>
  <td> <%= study.therapeutic_area %> </td>
  <td> <%= study.phase %> </td>
  <td> <%= study.status %> </td>
  <td> <%= study.start_date %> </td>
  <td> <%= study.projected_end_date %> </td>
</tr>