<tr>
  <td> <%= study.title %> </td>
  <td> <%= study.therapeutic_area %> </td>
  <td> <%= study.phase %> </td>
  <td> <%= study.status %> </td>
  <td> <%= study.start_date %> </td>
  <td> <%= study.projected_end_date %> </td>
  <td> <%= link_to image_tag("edit.png", :size => "20x20"), edit_study_path(study.id) %> </td>
  <td> <%= link_to image_tag("delete.png", :size => "20x20"), delete_study_path(study.id), data: {confirm: 'All the associated sites and subjects will be deleted. Confirm delete?'} %> </td>
</tr>