<tr>
  <td> <%= subject.name %> </td>
  <td> <%= subject.screening_no %> </td>
  <td> <%= subject.status %> </td>
  <td> <%= subject.enrollment_date %> </td>
  <td> <%= subject.end_date %> </td>
  <td> <%= subject.email %> </td>
  <% if rating.eql? false %>
    <td> <%= link_to image_tag('rating.png', size: "30x30"), subject_feedback_path(subject.id), :style => 'background-color:red;' %> </td>
  <% else %>
    <td style="color:green;"> Rating Captured!</td>
  <% end %>
  <% if subject.active.eql? true %>
    <td> <%= link_to image_tag('check.png', size: "20x20") %> </td>
  <% else %>
    <td> <%= link_to image_tag('cross.png', size: "20x20") %></td>
  <% end %>
  <td> <%= link_to image_tag("edit.png", :size => "20x20"), edit_sub_path(subject.id) %> </td>
  <td> <%= link_to image_tag("delete.png", :size => "20x20"), delete_sub_path(subject.id), data: { confirm: 'Subject will be deleted. Confirm delete?' } %> </td>
</tr>