<tr>
  <td> <%= site.name %> </td>
  <td> <%= site.no_of_subjects %> </td>
  <td> <%= site.site_open_date %> </td>
  <td> <%= site.site_close_date %> </td>
  <td> <%= site.screen_failure_rate %> </td>
  <td> <%= site.address %> </td>
</tr>