<div class="title-container">
  <h3> Edit Site</h3>
</div>

<% if @site.errors.full_messages.present? %>
  <ul>
    <% @site.errors.full_messages.each do |error_msg| %>
      <li style="color: #B00100"> <%= error_msg %> </li>
    <% end %>
  </ul>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= form_with(model: @site, url: update_site_path, html: { class: "form-horizontal"}) do |f| %>

      <div class="form-group">
        <%= f.label :name, class: "col-sm-1 control-label" %>
        <div class="col-sm-11">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :site_open_date, class: "col-sm-1 control-label" %>
        <div class="col-sm-11">
          <%= f.date_field :site_open_date, as: :date , value: @site.site_open_date.to_s.try(:strftime, '%m/%d/%Y')%>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :site_close_date, class: "col-sm-1 control-label" %>
        <div class="col-sm-11">
          <%= f.date_field :site_close_date, as: :date, value: @site.site_close_date.to_s.try(:strftime, '%m/%d/%Y')%>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :screen_failure_rate, class: "col-sm-1 control-label" %>
        <div class="col-sm-11">
          <%= f.number_field :screen_failure_rate %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :address, class: "col-sm-1 control-label" %>
        <div class="col-sm-11">
          <%= f.text_field :address %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-11 col-sm-offset-1">
          <%= f.submit "UPDATE" %>
        </div>
      </div>

      <h5><%=link_to 'Go Back', sites_index_path%></h5>

    <% end %>
  </div>
</div>



